<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link href="./resources/css/default.css" rel="stylesheet" type="text/css"/>
    </h:head>

    <h:body>
        <h:form>

            <p:growl id="growl" showDetail="true" />  


            <p:panel id="basic" header="Employee List"  style="margin-bottom:20px">
                <p:dataTable var="employee" value="#{employeeController.employeeList}"
                             rows="2"
                             paginator="true"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="2,4,6"

                             >
                    <p:column headerText="Id"  sortBy="#{employee.id}">
                        <h:outputText value="#{employee.id}" />
                    </p:column>

                    <p:column headerText="First Name">
                        <h:outputText value="#{employee.firstName}" />
                    </p:column>

                    <p:column headerText="Last Name">
                        <h:outputText value="#{employee.lastName}" />
                    </p:column>

                    <p:column headerText="Login Name">
                        <h:outputText value="#{employee.loginName}" />
                    </p:column>
                </p:dataTable>

                <p:commandButton process="@this loginName, firstName" disabled="#{!employeeController.addActive}" value="Add" action="#{employeeController.addAction}" update="@form"/>
                <p:commandButton process="@this loginName, firstName" disabled="#{!employeeController.addActive}" value="Add" action="#{employeeController.addAction}" update="@form"/>

            </p:panel>



            <p:panel  id="details" header="Details" style="margin-bottom:20px">
                <h:panelGrid columns="2" cellpadding="5" >
                    <h:outputLabel for="loginName" value="Login Name" />
                    <p:inputText disabled="#{!employeeController.saveActive}"  id="loginName" value="#{employeeController.newEmployee.loginName}"  />

                    <h:outputLabel for="firstName" value="First Name" />
                    <p:inputText disabled="#{!employeeController.saveActive}"  id="firstName" value="#{employeeController.newEmployee.firstName}"   />

                    <h:outputLabel for="lastName" value="Last Name" />
                    <p:inputText disabled="#{!employeeController.saveActive}"  id="lastName" value="#{employeeController.newEmployee.lastName}"   />

                    <h:outputLabel for="title" value="Title" />
                    <p:inputText disabled="#{!employeeController.saveActive}"  id="title" value="#{employeeController.newEmployee.title}"   />


                    <p:commandButton disabled="#{!employeeController.saveActive}" value="Save" action="#{employeeController.saveAction}" update="@form"/>
                    <p:commandButton disabled="#{!employeeController.cancelActive}" value="Cancel" action="#{employeeController.cancelAction}" update="@form"/>

                </h:panelGrid>
            </p:panel>



        </h:form>
    </h:body>
</html>

