<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link href="./../resources/css/default.css" rel="stylesheet" type="text/css"/>
    </h:head>

    <h:body>
        <h:form>

            <p:growl id="growl" showDetail="true" />  


            <p:panel id="basic" header="Role List"  style="margin-bottom:20px">
                <p:dataTable var="role" value="#{employeeController.roleList}"
                             rows="2"
                             paginator="true"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="2,4,6"

                             >
                    <p:column headerText="Id"  sortBy="#{role.id}">
                        <h:outputText value="#{role.id}" />
                    </p:column>

                    <p:column headerText="Name">
                        <h:outputText value="#{role.name}" />
                    </p:column>

                </p:dataTable>

                <p:commandButton disabled="#{!employeeController.addActive}" value="Add" action="#{employeeController.addAction}" update="@form"/>
          
            </p:panel>




        </h:form>
    </h:body>
</html>

